@media(max-width: 60rem){
*
{
    list-style: none;
    text-decoration: none;
}
*::-webkit-scrollbar
{
    width: 0;
}
*::-webkit-scrollbar-thumb
{
    width: 0;
    background-color: transparent;
    color: transparent;
}
*::-webkit-scrollbar-button
{
    width: 0;
    background-color: transparent;
    color: transparent;
}
*::-webkit-scrollbar-corner
{
    width: 0;
    background-color: transparent;
    color: transparent;
}
*::-webkit-scrollbar-track
{
    width: 0;
    background-color: transparent;
    color: transparent;
}
*::-webkit-scrollbar-track-piece
{
    width: 0;
    background-color: transparent;
    color: transparent;
}
body
{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(12, 6, 19);
}
button
{
    background-color: transparent;
    border-radius: 50%;
}
header
{
    width: 100%;
    height: 5rem;
    align-items: center;
    background-color: rgb(12, 6, 19);
}
header nav
{
    display: flex;
    width: 95%;
    height: 3rem;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    margin: 15px;
    justify-content: space-between;
    background-color: rgb(12, 6, 19);
    align-items: center;
}
header nav button
{
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 15pt;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
button:hover{
    background-color: rgba(169, 78, 255, 0.199);
    transition: 0.3s;
}
.section-1
{
    width: 100%;
    height: max-content;
    background-color: rgba(238, 130, 238, 0);
    margin: 5px;
    padding: 5px;
}
.section-1 div
{
    text-align: start;
}
.section-1 div h1
{
    margin-left: 15px;
    color: rgba(217, 92, 255, 0);
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25pt;
    margin: 5px;
    color: #fff;
}
.section-1 div small
{
    margin-left: 15px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17pt;
    color: rgba(255, 255, 255, 0.856);
}
.sroll-1
{
    width: 100%;
    overflow-x: scroll;
    height: max-content;
    margin-top: 15px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sroll-1 li
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 0;
}
.sroll-1 button
{
    font-size: 12pt;
    color: rgb(255, 255, 255);
    background-color: rgba(209, 74, 250, 0);
    padding: 7px;
    border-radius: 0;
    margin: 10px;
    width: max-content;
    height: max-content;
    border: 0 solid rgba(132, 11, 245, 0.425);
    border-radius: 10px;
}
#menu2{
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2rem;
    font-size: 10pt;
    border-radius: 5px;
    border: 1px solid rgba(226, 226, 226, 0.521);
    cursor: pointer;

}
.sroll-1 button:hover, #menu2:hover{
    background-color: rgba(169, 78, 255, 0.199);
    transition: 0.3s;

}
.slider
{
    width:100%;
    height: max-content;
    display: flex;
    position: relative
}
.slider div
{
    display: flex;
    width:100%;
    height: 20rem;
    background-color: aqua;
    height: max-content;
    float: left;
    animation: slider 10s linear infinite;
    position: relative
}
.slider div img
{
    max-width: 100%;
    height: 10rem;
    border-radius: 5px;
    float: left;
    transition: 0.5s;
    filter: brightness(100%);
    filter: contrast(110%);
}
#sma
{
    width: 30px;
    height: 30px;
    background-color: rgba(128, 43, 226, 0.397);
    color: #fff;
    font-size: 12pt;
    border-radius: 50%;
    text-align: center;
    border: 0;
}
.container
{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.container div
{
    margin-bottom: 10px;
    width: max-content;
    height: max-content;
    padding: 5px;
    border: 1px solid rgba(128, 54, 247, 0.39);
    border-radius: 10px;
}
.container img
{
    max-width: 45vw;
    border-radius: 10px;
}
.container h3
{
    margin:0;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}
.container small
{
    margin:0;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
}
.container h5
{
    margin:0;
    margin-top: 5px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-botton
{
    width: 100%;
    height: 40vw;
    position:fixed;
    display: flex;
    background-color: rgb(12, 6, 19);
    transform: translateY(85vh);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.26);
}
.header-botton nav
{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(238, 130, 238, 0);
    margin-top: 1rem;
}
.header-botton nav button
{
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 15pt;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
.header-botton nav button:hover{
    background-color: rgba(169, 78, 255, 0.199);
    transition: 0.3s;

}
#plus
{
    background-color: rgba(128, 43, 226, 0.397);
    display:flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 15pt;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    box-shadow: 0 8px 20px 0px rgba(143, 63, 248, 0.644);
    border: 2px solid rgba(135, 44, 253, 0.356);
}
#plus:hover{
    transition: 0.3s;
    background-color: rgba(128, 43, 226, 0.397);
}
.header-botton nav img
{
    width: 30px;
    
}
.search
{
    width: max-content;
    height: max-content;
    background-color: rgba(126, 62, 245, 0.329);
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    margin-right: 10px;
}
.search input
{
    padding: 5px;
    border-radius: 50px;
    border: 0;
    background-color: transparent;
    color: #fff;
    width: 50vw;
}
.container3
{
    width: 100%;
    height: max-content;
}
.container3 div
{
    width: 100%;
    height: 120vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 120%;
}
.header2 nav
{
    display: flex;
    width: 95%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header2 nav button
{
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 15pt;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}
.header2 nav button:hover{
    background-color: rgba(169, 78, 255, 0.199);
    transition: 0.3s;
}
.container3 img 
{
    width: 100%;
    border-radius: 5px;
}

.objs h3
{
    color: #fff;
    margin-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.objs small
{
    color: #fff;
    margin-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50vw;
    display: block;
    font-size: 12pt;
}
.bottom-1
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40vw;
    margin-top: 2vh;
}
.bottom-1 h2
{
    font-size: 13pt;
    display: flex;
    margin: 0;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bottom-1 h1
{
    font-size: 15pt;
    display: flex;
    margin: 0;
    width: max-content;
    background-color: rgba(135, 44, 253, 0.356);
    border: 2px solid rgba(135, 44, 253, 0.356);
    align-items: center;
    text-align: end;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    border-radius: 0 50px 50px 50px ;
    color: white;
    box-shadow: 0 8px 30px 0px rgba(143, 63, 248, 0.644);

}
.bottom-1 button
{
    border-radius: 50%;
    border: 0;
    background-color: rgba(169, 78, 255, 0.418);
    margin-left: 15px;
}

@keyframes slider {
    0%{
        left: 0%;
        transition: linear 0.7s;
        filter: brightness(0%);
    }
    10%{
        left: 0%;
        transition: linear 0.5s;
        filter: brightness(100%);
    }
    
    20%{
        left: 0%;
        transition: linear 0.5s;
    }
    25%{
        left: 0%;
        transition: linear 0.5s;
    }
    40%{
        left: -100%;
        transition: linear 0.5s;
    }
    50%{
        left: -100%;
        transition: linear 0.5s;
    }
    60%{
        left: -100%;
        transition: linear 0.5s;
    }
    65%{
        left: -100%;
        transition: linear 0.5s;
    }
    80%{
        left: -200%;
        transition: linear 0.5s;
    }
    97%{
        left: -200%;
        transition: linear 0.5s;
    }



}




























}
@media (min-width: 60rem) {
    *{
        display: none;
    }
}